In [95]:
import pandas as pd
left_frame = pd.DataFrame({'key': ['Bu','sha','pant'],'match1': [3,4,1],},index=[1,2,3])
right_frame = pd.DataFrame({'key': ['Bu','sha','bhu'],'match1': [3,4,2],},index=[1,2,3])
print(left_frame)
print('\n')
print(right_frame)

    key  match1
1    Bu       3
2   sha       4
3  pant       1


   key  match1
1   Bu       3
2  sha       4
3  bhu       2

In [96]:
print(pd.merge(left_frame,right_frame, on='key', how='inner'))#,on=True)
print(pd.merge(left_frame,right_frame, on='key', how='outer'))#,on=True)

   key  match1_x  match1_y
0   Bu         3         3
1  sha         4         4
    key  match1_x  match1_y
0    Bu       3.0       3.0
1   sha       4.0       4.0
2  pant       1.0       NaN
3   bhu       NaN       2.0

In [97]:
print(pd.merge(left_frame,right_frame, on='key',how='left'))#,on=True)
print(pd.merge(left_frame,right_frame, on='key', how='right'))#,on=True)

    key  match1_x  match1_y
0    Bu         3       3.0
1   sha         4       4.0
2  pant         1       NaN
   key  match1_x  match1_y
0   Bu       3.0         3
1  sha       4.0         4
2  bhu       NaN         2

In [59]:
import pandas as pd
left_frame = pd.DataFrame({'left': ['a', 'b', 'c', 'd', 'e'],'num': range(5)},index=[1,2,3,4,5])
right_frame = pd.DataFrame({'num': range(2, 7), 
                           'right': ['f', 'g', 'h', 'i', 'j']},index=[1,2,3,4,5])

print(left_frame)
print('\n')
print(right_frame)


right_frame.merge(left_frame)
print(right_frame)

  left  num
1    a    0
2    b    1
3    c    2
4    d    3
5    e    4


   num right
1    2     f
2    3     g
3    4     h
4    5     i
5    6     j
   num right
1    2     f
2    3     g
3    4     h
4    5     i
5    6     j

In [26]:
Table1 = pd.DataFrame({'Q1': ['101', '102', '103'],
                     'Q2': ['201', '202', '203']},
                      index=['I0', 'I1', 'I2']) 

Table2 = pd.DataFrame({'Q3': ['301', '302', '303'],
                    'Q4': ['401', '402', '403']},
                      index=['I0', 'I2', 'I3'])

In [46]:
Table1 = pd.DataFrame({'Q1': ['101', '102', '103'],
                     'Q2': ['201', '202', '203']},
                      index=['I0', 'I1', 'I2']) 

Table2 = pd.DataFrame({'Q3': ['301', '302', '303'],
                    'Q4': ['401', '402', '403']},
                      index=['I0', 'I2', 'I3'])

In [54]:
FinalTable = Table1.join(Table2)
print(Table1)
print(Table2)
print(FinalTable)

     Q1   Q2
I0  101  201
I1  102  202
I2  103  203
     Q3   Q4
I0  301  401
I2  302  402
I3  303  403
     Q1   Q2   Q3   Q4
I0  101  201  301  401
I1  102  202  NaN  NaN
I2  103  203  302  402

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [118]:
import pandas as pd
left_frame = pd.DataFrame({'match1_overs': [5,5,5],'match1_w': [3,4,1],},index=['Bu','sha','pant'])
right_frame = pd.DataFrame({'match2_overs': [5,5,5,5],'match2_w': [3,4,2,5],},index=['Bu','sha','bhu',"pant"])
print(left_frame)
print('\n')
print(right_frame)

left_frame.join(right_frame,how='outer')

      match1_overs  match1_w
Bu               5         3
sha              5         4
pant             5         1


      match2_overs  match2_w
Bu               5         3
sha              5         4
bhu              5         2
pant             5         5

      match1_overs  match1_w  match2_overs  match2_w
Bu             5.0       3.0             5         3
bhu            NaN       NaN             5         2
pant           5.0       1.0             5         5
sha            5.0       4.0             5         4

In [104]:
Table1 = pd.DataFrame({'Q1': ['101', '102', '103'],
                     'Q2': ['201', '202', '203']},
                      index=['I0', 'I1', 'I2']) 

Table2 = pd.DataFrame({'Q3': ['301', '302', '303'],
                    'Q4': ['401', '402', '403']},
                      index=['I0', 'I1', 'I2'])
Table1.join(Table2)

     Q1   Q2   Q3   Q4
I0  101  201  301  401
I1  102  202  302  402
I2  103  203  303  403

In [129]:
import pandas as pd
left_frame = pd.DataFrame({'match1_overs': [5,5,5],'match1_w': [3,4,1],},index=['Bu','sha','pant'])
right_frame = pd.DataFrame({'match2_overs': [5,5,5],'match2_w': [3,4,2],},index=['Bu','sha1','bhu1'])
f3 = pd.DataFrame({'match3_overs': [5,5,5],'match3_w': [3,4,2],},index=['Bu','sha1','bhu1'])


print(left_frame)
print('\n')
print(right_frame)

print(left_frame.join([right_frame,f3], how='outer'))
print(pd.concat([left_frame,right_frame],sort=True))
print(pd.concat([left_frame,right_frame],sort=True, axis = 1))

      match1_overs  match1_w
Bu               5         3
sha              5         4
pant             5         1


      match2_overs  match2_w
Bu               5         3
sha1             5         4
bhu1             5         2
      match1_overs  match1_w  match2_overs  match2_w  match3_overs  match3_w
Bu             5.0       3.0           5.0       3.0           5.0       3.0
bhu1           NaN       NaN           5.0       2.0           5.0       2.0
pant           5.0       1.0           NaN       NaN           NaN       NaN
sha            5.0       4.0           NaN       NaN           NaN       NaN
sha1           NaN       NaN           5.0       4.0           5.0       4.0
      match1_overs  match1_w  match2_overs  match2_w
Bu             5.0       3.0           NaN       NaN
sha            5.0       4.0           NaN       NaN
pant           5.0       1.0           NaN       NaN
Bu             NaN       NaN           5.0       3.0
sha1           NaN       NaN           5.0       4.0
bhu1           NaN       NaN           5.0       2.0
      match1_overs  match1_w  match2_overs  match2_w
Bu             5.0       3.0           5.0       3.0
bhu1           NaN       NaN           5.0       2.0
pant           5.0       1.0           NaN       NaN
sha            5.0       4.0           NaN       NaN
sha1           NaN       NaN           5.0       4.0

/Users/kamalmukiri/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6848: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  verify_integrity=True)

In [ ]:
pd.merge
left_frame.merge

In [137]:
import pandas as pd
left_frame = pd.DataFrame({'match1_overs': [5,5,5],'match1_w': [3,4,1],},index=['Bu','sha','pant'])
right_frame = pd.DataFrame({'match2_overs': [5,5,5],'match2_w': [3,4,2],},index=['Bu','sha1','bhu1'])
f3 = pd.DataFrame({'match3_overs': [5,5,5],'match3_w': [3,4,2],},index=['Bu','sha1','bhu1'])


print(left_frame)
print('\n')
print(right_frame)


df=left_frame.append(right_frame, sort=True)
print(df)
df2 = pd.concat([left_frame,right_frame], sort=True)
print(df2)



print(left_frame)
print('\n')
print(right_frame)

      match1_overs  match1_w
Bu               5         3
sha              5         4
pant             5         1


      match2_overs  match2_w
Bu               5         3
sha1             5         4
bhu1             5         2
      match1_overs  match1_w  match2_overs  match2_w
Bu             5.0       3.0           NaN       NaN
sha            5.0       4.0           NaN       NaN
pant           5.0       1.0           NaN       NaN
Bu             NaN       NaN           5.0       3.0
sha1           NaN       NaN           5.0       4.0
bhu1           NaN       NaN           5.0       2.0
      match1_overs  match1_w  match2_overs  match2_w
Bu             5.0       3.0           NaN       NaN
sha            5.0       4.0           NaN       NaN
pant           5.0       1.0           NaN       NaN
Bu             NaN       NaN           5.0       3.0
sha1           NaN       NaN           5.0       4.0
bhu1           NaN       NaN           5.0       2.0
      match1_overs  match1_w
Bu               5         3
sha              5         4
pant             5         1


      match2_overs  match2_w
Bu               5         3
sha1             5         4
bhu1             5         2

In [143]:
import pandas as pd
import os
os.chdir("/Users/kamalmukiri/Documents/AptComputingAcademy/DataScience/Pandas/Data")
data = pd.read_csv("weather.csv")
print(data)

df1=pd.melt(data, id_vars = ["day"], var_name ="city", value_name="temperature")
df1

         day  chicago  chennai  berlin
0     Monday       32       75      41
1    Tuesday       30       77      43
2  Wednesday       28       75      45
3   Thursday       22       82      38
4     Friday       30       83      30
5   Saturday       20       81      45
6     Sunday       25       77      47

          day     city  temperature
0      Monday  chicago           32
1     Tuesday  chicago           30
2   Wednesday  chicago           28
3    Thursday  chicago           22
4      Friday  chicago           30
5    Saturday  chicago           20
6      Sunday  chicago           25
7      Monday  chennai           75
8     Tuesday  chennai           77
9   Wednesday  chennai           75
10   Thursday  chennai           82
11     Friday  chennai           83
12   Saturday  chennai           81
13     Sunday  chennai           77
14     Monday   berlin           41
15    Tuesday   berlin           43
16  Wednesday   berlin           45
17   Thursday   berlin           38
18     Friday   berlin           30
19   Saturday   berlin           45
20     Sunday   berlin           47